.box{
    width: 800px;
    height: 250px;
    display: flex;
    box-shadow: 0px 0.5px 8px #B4B4BB;
}
.box .box-right{
    padding-left: 10px;
    padding-top: 20px;
}
.box-right h3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}
.box-sub{
    color:grey;
    padding-top: 5px;
}
.box-sub span{
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}
.box-right p{
    font-family: 'Quicksand', sans-serif;
    width: 435px;
    height: 90px;
    font-size: 14px;
}
.box-right button{
    width: 100px;
    height: 40px;
    border: 1px solid gainsboro;
    background-color: white;
    color: red;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}


/* ////////////////////////// */

.menu-right{
    box-shadow: 0px 0.5px 8px #B4B4BB;
    background-color: white;
    width: 350px;
    height: 1045px;
    padding-left: 10px;
}
.menu-right-sub{
    background-color: #2264D1;
    padding: 5px 0px;
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.menu-right h3{
    color: #2264D1;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.menu-right-box {
    line-height: 0.5;
}
.menu-right-box i span{
    font-size: 14;
    font-family: 'Quicksand', sans-serif;
}
.menu-right-box h4{
    color: #3A3A44;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.menu-right button{
    width: 100px;
    color: red;
    background-color: white;
    border: 0;
    margin: 15px 0px;
    padding: 10px 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.menu-right-list{
    color: #3A3A44;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    line-height: 2.6;
}
.menu-right-list span{
    color: #3A3A44;
    font-family: 'Quicksand', sans-serif;
}
.menu-right p{
    font-family: 'Quicksand', sans-serif;
}
