body {
  margin: 0;
  background-color: #F9F9F8; }

.container {
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.container-fluid {
  width: 100%; }

.header-master {
  background-image: url("image/bg.jpg"); }
  .header-master .header {
    margin: 0 auto;
    height: 135px;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px; }
    .header-master .header .header-left {
      flex: 1;
      padding-top: 10px;
      font-size: 18px;
      line-height: 0.005; }
      .header-master .header .header-left img {
        margin-left: 10px; }
      .header-master .header .header-left p {
        font-family: 'Inria Sans', sans-serif;
        font-size: 18px;
        color: #19191D; }
    .header-master .header .header-right {
      flex: 10;
      padding-top: 20px;
      width: 100%;
      margin-left: 20px; }
      .header-master .header .header-right-sub {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        text-indent: 20px; }
        .header-master .header .header-right-sub-left {
          color: #3A3A44;
          flex: 2; }
        .header-master .header .header-right-sub-right {
          flex: 1;
          text-align: right; }
          .header-master .header .header-right-sub-right i {
            margin-right: auto;
            margin-left: 5px;
            font-family: 'Quicksand', sans-serif; }
            .header-master .header .header-right-sub-right i a {
              text-decoration: none;
              text-align: right; }
      .header-master .header .header-right-menu {
        display: flex;
        width: 100%;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        padding-top: 10px; }
        .header-master .header .header-right-menu-list {
          flex: 3; }
          .header-master .header .header-right-menu-list ul {
            list-style: none;
            display: flex;
            padding-top: 30px; }
            .header-master .header .header-right-menu-list ul a {
              text-decoration: none;
              padding-right: 10px; }
        .header-master .header .header-right-menu-search {
          flex: 1;
          height: 30px;
          margin-right: auto;
          width: 40%;
          text-align: right;
          margin-top: 39px;
          font-size: 22px;
          line-height: 1.2;
          border: 1px solid pink; }
          .header-master .header .header-right-menu-search i {
            width: 20%;
            text-align: center;
            border-left: 1px solid pink; }

.banner-container {
  height: 600px;
  background-image: url("image/a.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto; }
  .banner-container h3 {
    font-family: 'Oswald', sans-serif;
    padding-top: 200px;
    line-height: 0.8;
    color: white;
    font-size: 40px; }
  .banner-container p {
    line-height: 0.7;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px; }
  .banner-container div {
    color: white;
    padding-bottom: 10px;
    line-height: 0.2; }
  .banner-container button {
    background-color: #2264D1;
    margin-top: 15px;
    height: 35px;
    width: 100px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    border: 0px;
    color: white; }

.content {
  margin: 0px auto; }

.sub {
  background-color: #F0F0F1;
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 180px;
  line-height: 0.4; }
  .sub-left {
    padding-left: 100px;
    text-align: center; }
    .sub-left h4 {
      color: #4A4B57;
      font-family: 'Oswald', sans-serif;
      line-height: 0.7;
      padding-top: 20px; }
    .sub-left div {
      text-align: center; }
    .sub-left p {
      line-height: 12px;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
      overflow: hidden; }
  .sub-middle {
    text-align: center; }
    .sub-middle h4 {
      font-family: 'Oswald', sans-serif;
      color: #4A4B57;
      line-height: 0.7;
      padding-top: 20px; }
    .sub-middle p {
      line-height: 12px;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px; }
  .sub-right {
    text-align: center;
    padding-right: 100px; }
    .sub-right h4 {
      font-family: 'Oswald', sans-serif;
      line-height: 0.7;
      padding-top: 20px;
      color: #4A4B57; }
    .sub-right div {
      text-align: center; }
    .sub-right p {
      font-family: 'Quicksand', sans-serif;
      line-height: 12px;
      font-size: 14px; }

.about {
  margin: 0px auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px; }
  .about-sub {
    text-align: center;
    line-height: 2.2; }
    .about-sub h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 34px;
      padding-top: 10px;
      height: 30px; }
    .about-sub div {
      text-align: center; }
  .about-main {
    width: 100%;
    display: flex;
    margin: 0px auto;
    padding-top: 20px; }
    .about-main-left {
      flex: 1;
      width: 90%;
      line-height: 1.5; }
      .about-main-left h4 {
        border-bottom: 1px solid #4F91FF;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        color: #2264D1;
        margin: 0; }
      .about-main-left p {
        font-family: 'Quicksand', sans-serif;
        font-size: 15px; }
    .about-main-right {
      flex: 1;
      width: 50%;
      background-image: url("image/bg-about.jpg");
      background-position: center;
      background-size: cover; }
      .about-main-right-image {
        background-image: url("image/about.jpg");
        background-position: center;
        background-size: cover;
        width: 80%;
        height: 400px;
        margin-top: 30px; }

.ourteam {
  margin: 0px auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px; }
  .ourteam-sub {
    line-height: 2.4; }
    .ourteam-sub h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 34px;
      padding-top: 20px;
      height: 30px; }
  .ourteam-main {
    height: 680px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px; }
    .ourteam-main-box {
      margin-top: 7px;
      background-color: white;
      height: 47%;
      width: 23%;
      box-shadow: 0px 0.5px 8px #B4B4BB;
      line-height: 0.9; }
      .ourteam-main-box .ourteam-image {
        height: 66%; }
      .ourteam-main-box-title {
        font-family: 'oswald', sans-serif;
        font-size: 18px;
        color: #2979FF; }
  .ourteam button {
    color: #2264D1;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 2px 8px;
    border: 0px;
    height: 30px;
    width: 100px; }

.latesnews {
  margin: 0px auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px; }
  .latesnews-sub {
    text-align: center;
    margin: 0px;
    padding-bottom: 15px;
    line-height: 2.4; }
    .latesnews-sub h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 34px;
      padding-top: 10px;
      height: 30px; }
  .latesnews-main {
    height: 805px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px; }
    .latesnews-main-box {
      background-color: white;
      height: 48%;
      width: 24%;
      box-shadow: 0px 0.5px 8px #B4B4BB;
      margin-top: 20px; }
      .latesnews-main-box-image {
        background-size: cover;
        margin: 0px auto;
        background-position: center;
        height: 45%; }
      .latesnews-main-box-title {
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        text-indent: 10px; }
        .latesnews-main-box-title a {
          text-decoration: none;
          color: #2979FF; }
      .latesnews-main-box-line {
        margin-left: 10px;
        background-color: grey;
        width: 100px;
        height: 1px; }
      .latesnews-main-box-text {
        text-decoration: none;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.5; }
      .latesnews-main-box-sub {
        display: flex;
        background-color: #F0F0F1;
        height: 9%;
        margin: 0px auto;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        margin-top: 15px;
        line-height: 3;
        color: #F44336;
        width: 100%;
        padding-top: 2px; }
        .latesnews-main-box-sub i {
          line-height: 3;
          text-indent: 10px; }
        .latesnews-main-box-sub span {
          width: 100%; }
        .latesnews-main-box-sub-pdf {
          text-align: end;
          width: 100%;
          padding-right: 10px; }

.resources {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin: 0px auto; }
  .resources-sub {
    text-align: center;
    margin: 0px;
    line-height: 2.2; }
    .resources-sub h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 34px;
      height: 30px; }
  .resources-main {
    display: flex;
    justify-content: space-between;
    margin: 0px auto; }
    .resources-main-box {
      height: 270px;
      text-indent: 10px;
      box-shadow: 0px 0.5px 8px #B4B4BB;
      margin-top: 25px; }
      .resources-main-box-title {
        height: 45px;
        background-color: #2264D1;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        text-indent: 10px;
        color: white; }
      .resources-main-box-list-element {
        display: flex;
        background-color: white;
        height: 30px;
        padding-top: 15px;
        border-bottom: 1px solid #E1E1E3; }
        .resources-main-box-list-element a {
          text-decoration: none;
          color: black;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis; }

.footer-master {
  margin: 0 auto;
  background-color: #19191D; }

.footer-title {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #76A9FF; }

.footer-line {
  height: 2px;
  width: 60px;
  background-color: #76A9FF; }

.footer {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin: 0px auto;
  padding-top: 20px;
  margin-top: 50px; }
  .footer-container {
    margin: 0px auto;
    height: 290px;
    display: flex;
    justify-content: space-between; }
    .footer-container .footer-column1 {
      line-height: 1.7; }
      .footer-container .footer-column1-text {
        padding-top: 20px;
        color: #B4B4BB; }
        .footer-container .footer-column1-text i {
          color: #4F91FF; }
          .footer-container .footer-column1-text i span {
            color: #B4B4BB; }
    .footer-container .footer-column2 {
      line-height: 1.8; }
      .footer-container .footer-column2 .column2-list {
        text-decoration: none;
        display: block; }
        .footer-container .footer-column2 .column2-list ul {
          list-style: none;
          padding: 0px; }
          .footer-container .footer-column2 .column2-list ul li i {
            color: #4F91FF; }
        .footer-container .footer-column2 .column2-list a {
          color: #B4B4BB;
          text-decoration: none; }
    .footer-container .footer-column3 .column3-list {
      line-height: 1.7;
      margin-top: 30px;
      color: #B4B4BB; }
      .footer-container .footer-column3 .column3-list-box {
        height: 55px;
        width: 240px;
        display: flex;
        margin-bottom: 10px; }
        .footer-container .footer-column3 .column3-list-box-img {
          width: 85px;
          background-size: cover;
          background-position: center; }
        .footer-container .footer-column3 .column3-list-box-text {
          padding-top: 10px;
          margin-left: 10px;
          line-height: 0.9;
          width: 100%; }
          .footer-container .footer-column3 .column3-list-box-text-title {
            font-family: 'Oswald', sans-serif;
            font-size: 15px; }
          .footer-container .footer-column3 .column3-list-box-text-sub {
            display: flex;
            justify-content: space-between; }
            .footer-container .footer-column3 .column3-list-box-text-sub p {
              font-family: 'Oswald', sans-serif;
              font-size: 12px; }
    .footer-container .footer-column4-text {
      width: 264px;
      height: 200px;
      color: #B4B4BB; }
  .footer .footer-sub {
    color: #B4B4BB;
    text-align: center;
    padding-bottom: 10px;
    border-top: 1px solid #3A3A44; }
    .footer .footer-sub span {
      color: #4F91FF; }

/*# sourceMappingURL=style.css.map */
