//font-family
$oswald: 'Oswald', sans-serif;
//font-size 
$h3-48: 48px;
$h4-34: 34px;
$h5-24: 24px;
$h6-20: 20px;
$h7-15: 15px;

$text-12: 12px;
$text-13: 13px;
$text-14: 14px;
$text-15: 15px;

$button-15: 15px;

$sub-light-14: 14px;
$sub-light-12: 12px;
$sub-boid-12: 12px;

//color
$grey-5: #F0F0F1;
$grey-10: #E1E1E3;
$grey-20: #D2D2D6;
$grey-30: #B4B4BB;
$grey-40: #9696A0;
$grey-50: #787885;
$grey-60: #5A5B6A;
$grey-70: #4A4B57;
$grey-80: #3A3A44;
$grey-90: #292A31;
$grey-100: #19191D;
$blue-5: #EBF2FF;
$blue-10: #D8E6FF;
$blue-20: #C4DAFF;
$blue-30: #9DC2FF;
$blue-40: #76A9FF;
$blue-50: #4F91FF;
$blue-60: #2979FF;
$blue-70: #2264D1;
$blue-80: #1B4EA3;
$blue-90: #133774;
$blue-100: #0C2146;
$red-5: #FEEDEC;
$red-10: #FDDCDA;
$red-20: #FCCBC8;
$red-30: #FAA9A3;
$red-40: #F8877F;
$red-50: #F6655A;
$red-60: #F44336;
$red-70: #C8372D;
$red-80: #9C2B23;
$red-90: #6F1F19;
$red-100: #43130F;

$button: #2979FF;

//box-shadow
$shadow-1: 0px 0.5px 8px $grey-10;
$shadow-2: 0px 0.5px 8px $grey-30;

// root

body{
    margin: 0;
    background-color: #F9F9F8;
}

// end root

.container {
    width: 100%;
    @media (min-width: 576px) {
        width: 540px;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        width: 720px;
     }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { 
        
        width: 960px;
     }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { 
        width: 1140px;
    }
}

.container-fluid {
    width: 100%;
}

//header

.header-master{
    background-image: url('image/bg.jpg');
    .header{
        margin: 0 auto;
        height: 135px;
        display: flex;
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        .header-left{
            flex:1;
            padding-top: 10px;
            font-size: 18px;
            line-height: 0.005; 
            img{
                margin-left: 10px;
            }
            p{
                font-family: 'Inria Sans', sans-serif;
                font-size: 18px;
                color: #19191D;
            }
        }
        .header-right{
            flex:10;
            padding-top: 20px;
            width: 100%;
            margin-left: 20px;
            &-sub{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                text-indent: 20px;
                &-left{
                    color: #3A3A44;
                    flex: 2;
                }
                &-right{
                    flex:1;
                    text-align: right;
                    i{
                        margin-right: auto;
                        margin-left: 5px;
                        font-family: 'Quicksand', sans-serif;
                        a{
                            text-decoration: none;
                            text-align: right;
                        }
                    } 
                }
            }
            &-menu{
                display: flex;
                width: 100%;
                font-family: 'Oswald', sans-serif;
                font-size: 18px;
                padding-top: 10px;
                &-list{
                    flex: 3;
                    ul{
                        list-style: none;
                        display: flex;
                        padding-top: 30px;
                        a{
                            text-decoration: none;
                            padding-right: 10px;
                        }
                    }
                }
                &-search{
                    flex: 1;
                    height: 30px;
                    margin-right: auto;
                    width: 40%;
                    text-align: right;
                    margin-top: 39px;
                    font-size: 22px;
                    line-height: 1.2;
                    border: 1px solid pink;
                    i{
                        width: 20%;
                        text-align: center;
                        border-left: 1px solid pink;
                    }
                }
            }
        }
    }
}
//banner

.banner-container{

    height: 600px;
    background-image: url('image/a.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    h3{
        font-family: 'Oswald', sans-serif;
        padding-top: 200px;
        line-height: 0.8;
        color: white;
        font-size: 40px;
    }
    p{
        line-height: 0.7;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
    }
    div{
        color: white;
        padding-bottom: 10px;
        line-height: 0.2;
    }
    button{
        background-color: #2264D1;
        margin-top: 15px;
        height: 35px;
        width: 100px;
        font-family: 'Oswald', sans-serif;
        line-height: 1.2;
        border: 0px;
        color: white;
    }
}
//.content{
.content{
    margin: 0px auto;
}
.sub{
    background-color: #F0F0F1;
    margin: 0px auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    height: 180px;
    line-height: 0.4;
    &-left{
        padding-left: 100px;
        text-align: center;
        h4{
            color: #4A4B57;
            font-family: 'Oswald', sans-serif;
            line-height: 0.7;
            padding-top: 20px;
        }
        div{
            text-align: center;
        }
        p{
            line-height: 12px;
            font-family: 'Quicksand', sans-serif;
            font-size: 14px;
            overflow: hidden;
        }
    } 
    &-middle{
        text-align: center;
        h4{
            font-family: 'Oswald', sans-serif;
            color: #4A4B57;
            line-height: 0.7;
            padding-top: 20px;
        }
        p{
            line-height: 12px;
            font-family: 'Quicksand', sans-serif;
            font-size: 14px;
        }
    }
    &-right{
        text-align: center;
        padding-right: 100px;
        h4{
            font-family: 'Oswald', sans-serif;
            line-height: 0.7;
            padding-top: 20px;
            color: #4A4B57;
        }
        div{
            text-align: center;
        }
        p{
            font-family: 'Quicksand', sans-serif;
            line-height: 12px;
            font-size: 14px;
        }
    }
}

// content-about
.about{
    margin: 0px auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    &-sub{
        text-align: center;
        line-height: 2.2;
        h3{
            font-family: 'Oswald', sans-serif;
            font-size: 34px;
            padding-top: 10px;
            height: 30px;
        }
        div{
            text-align: center;
        }
    }
    &-main{
        width: 100%;
        display: flex;
        margin: 0px auto;
        padding-top: 20px;
        &-left{
            flex: 1;
            width: 90%;
            line-height: 1.5;
            h4{
                border-bottom: 1px solid #4F91FF;
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                color: #2264D1;
                margin: 0;
            }
            p{
                font-family: 'Quicksand', sans-serif;
                font-size: 15px;

            }
        }
        &-right{
            flex: 1;
            width: 50%; 
            background-image: url('image/bg-about.jpg');
            background-position: center;
            background-size: cover;
            &-image{
                background-image: url('image/about.jpg');
                background-position: center;
                background-size: cover;
                width: 80%;
                height: 400px;
                margin-top: 30px;
            }
        }
    }
}
// content-out team
.ourteam{
    margin: 0px auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    &-sub{
        line-height: 2.4;
        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 34px;
            padding-top: 20px;
            height: 30px;
        }
    }
    &-main {
        height: 680px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;

        &-box{
            margin-top: 7px;
            background-color: white;
            height: 47%;
            width: 23%;
            box-shadow: $shadow-2;
            line-height: 0.9;
            .ourteam-image {
                height: 66%;
            }
            &-title{
                font-family: 'oswald', sans-serif;
                font-size: 18px;
                color: #2979FF;
            }
        }
    }
    button{
        color: #2264D1;
        font-family: 'Oswald', sans-serif;
        text-shadow: 0px 2px 8px;
        border: 0px;
        height: 30px;
        width: 100px;
    }
}
//  COntent- lates news
.latesnews{
    margin: 0px auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    &-sub{
        text-align: center;
        margin: 0px;
        padding-bottom: 15px;
        line-height: 2.4;
        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 34px;
            padding-top: 10px;
            height: 30px;
        }
    }
    &-main {
        height: 805px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        &-box{
            background-color: white;
            height: 48%;
            width: 24%;
            box-shadow: $shadow-2;
            margin-top: 20px;
            &-image{
                background-size: cover;
                margin: 0px auto;
                background-position: center;
                height: 45%;
            }
            &-title{
                font-family: 'Oswald', sans-serif;
                font-size: 15px;
                text-indent: 10px;
                a{
                    text-decoration: none;
                    color: #2979FF;
                }
            }
            &-line{
                margin-left: 10px;
                background-color: grey;
                width: 100px;
                height: 1px;

            }
            &-text{
                text-decoration: none;
                display: block;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 1.5;
            }
            &-sub{
                display: flex;
                background-color: #F0F0F1;
                height: 9%;
                margin: 0px auto;
                font-family: 'Oswald', sans-serif;
                font-size: 12px;
                margin-top: 15px;
                line-height: 3;
                color: #F44336;
                width: 100%;
                padding-top: 2px;
                i {
                    line-height: 3;
                    text-indent: 10px;
                }
                span {
                    width: 100%;
                }
                &-pdf{
                    text-align: end;
                    width: 100%;
                    padding-right: 10px;
                }
            }
        }
    }
}
// content resources
.resources{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 0px auto;
    &-sub {
        text-align: center;
        margin: 0px;
        line-height: 2.2;
        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 34px;
            height: 30px;
        }
    }
    &-main{
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        &-box{
            height: 270px;
            text-indent: 10px;
            box-shadow: $shadow-2;
            margin-top: 25px;
            &-title{
                height: 45px;
                background-color: #2264D1;
                font-family: 'Oswald', sans-serif;
                font-size: 24px;
                text-indent: 10px;
                color: white;
            }
            &-list{
                &-element{
                    display: flex;
                    background-color: white;
                    height: 30px;
                    padding-top: 15px;
                    border-bottom: 1px solid $grey-10;
                    a {
                        text-decoration: none;
                        color: black;
                        white-space: nowrap; 
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis; 
                    }               
                }
            }
        }
    }

}
// footer
.footer-master {
    margin: 0 auto;
    background-color: #19191D;
}
.footer-title{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #76A9FF;
}
.footer-line{
    height: 2px;
    width: 60px;
    background-color: #76A9FF;
}
.footer{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 0px auto;
    padding-top: 20px;
    margin-top: 50px;
    &-container{
        margin: 0px auto;
        height: 290px;
        display: flex;
        justify-content: space-between;
        .footer-column1{
            line-height: 1.7;
            &-text{
                padding-top: 20px;
                color: #B4B4BB;
                i{
                    color: #4F91FF;
                    span{
                        color: #B4B4BB;
                    }
                }
            }
        }
        .footer-column2{
            line-height: 1.8;
            .column2-list{
                text-decoration: none;
                display: block;
                ul{
                    list-style: none;
                    padding: 0px;
                    li{
                        i{
                            color: #4F91FF;
                        }
                    }              
                }
                a{
                    color: #B4B4BB;
                    text-decoration: none;             
                }
            }
        }
        .footer-column3{
            .column3-list{
                line-height: 1.7;
                margin-top: 30px;
                color: #B4B4BB; 
                &-box{
                    height: 55px;
                    width: 240px;
                    display: flex;
                    margin-bottom: 10px;
                    &-img{
                        width: 85px;
                        background-size: cover;
                        background-position: center;                  
                    } 
                    &-text{
                        padding-top: 10px;
                        margin-left: 10px;
                        line-height: 0.9;
                        width: 100%;
                        &-title{
                            font-family: 'Oswald', sans-serif;
                            font-size: 15px;                          
                        }   
                        &-sub{
                            display: flex;
                            justify-content: space-between;
                            p{
                                font-family: 'Oswald', sans-serif;
                                font-size: 12px;
                            }                  
                        }              
                    }
                }     
            }
        }
        .footer-column4{
            &-text{
                width: 264px;
                height: 200px;
                color: #B4B4BB;
            }

        }
    }
    .footer-sub{
        color: #B4B4BB;
        text-align: center;
        padding-bottom: 10px;
        border-top: 1px solid #3A3A44;
        span{
            color: #4F91FF;
        }
    }
}
